<div class="container">
  <h5>{{title}}</h5>
    <div id="gSignInWrapper">
    <span class="label">Sign in with:</span>
    <a id="customBtn" class="customGPlusSignIn" href="/auth/google" title="Sign in to google">
      <span class="icon"></span>
      <span class="buttonText">Google</span>
    </a>
  </div>
</div>